[submodule "apps/iconographia"]
	path = apps/iconographia
	url = https://github.com/CDH-DevTeam/iconographia.git
[submodule "apps/legacy_arosenius"]
	path = apps/legacy_arosenius
	url = https://github.com/CDH-DevTeam/legacy_arosenius.git
[submodule "apps/geography"]
	path = apps/geography
	url = https://github.com/CDH-DevTeam/geography
[submodule "norfam"]
	path = norfam
	url = https://github.com/CDH-DevTeam/norfam
	branch = norfam
