[submodule "apps/legacy_arosenius"]
	path = apps/legacy_arosenius
	url = https://github.com/CDH-DevTeam/legacy_arosenius.git
[submodule "apps/norfam"]
	path = apps/norfam
	url = https://github.com/CDH-DevTeam/norfam
[submodule "apps/rwanda"]
	path = apps/rwanda
	url = https://github.com/CDH-DevTeam/rwanda
[submodule "apps/rephotography"]
	path = apps/rephotography
	url = https://github.com/CDH-DevTeam/rephotography
[submodule "apps/jubileum"]
	path = apps/jubileum
	url = https://github.com/gu-gridh/jubileum
[submodule "apps/etruscantombs"]
	path = apps/etruscantombs
	url = https://github.com/gu-gridh/etruscantombs.git
[submodule "apps/mediaarchive"]
	path = apps/mediaarchive
	url = https://github.com/gu-gridh/mediaarchive.git
